.menu ul li a{
    color: red;
    text-decoration: underline;
}
.redes ul li a{
    color: red;
    text-decoration: underline;
}
.noticias div a{
    color: red;
    text-decoration: underline;
}
